/* ** Imports **  */
@import "tailwindcss";
@import "tw-animate-css";
@custom-variant dark (&:is(.dark *));

/* ** Shadcn themes **  */
@theme {
  /* Your CSS Variables */
  --color-background: hsl(210 11% 7%);
  --color-foreground: hsl(160 14% 93%);
  --color-card: hsl(220 17% 98% / 0.01);
  --color-card-foreground: hsl(160 14% 93%);
  --color-popover: hsl(210 11% 7%);
  --color-popover-foreground: hsl(160 14% 93%);
  --color-primary: hsl(165 96% 71%);
  --color-primary-foreground: hsl(160 8% 6%);
  --color-secondary: hsl(160 14% 93%);
  --color-secondary-foreground: hsl(165 14% 8%);
  --color-muted: hsl(240 2% 16%);
  --color-muted-foreground: hsl(160 14% 93% / 0.7);
  --color-accent: hsl(240 2% 25%);
  --color-accent-foreground: hsl(240 2% 96%);
  --color-border: hsl(240 100% 100% / 0.08);
  --color-input: hsl(240 100% 100% / 0.08);
  --color-ring: hsl(165 96% 71%);
  --color-destructive: hsl(0 84% 60%);
  --color-destructive-foreground: hsl(0 0% 98%);

  /* Border radius */
  --radius: 0.5rem;
  --radius-sm: calc(var(--radius) - 0.25rem);
  --radius-md: calc(var(--radius) - 0.125rem);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 0.25rem);
}


@layer base {
  /* ** Universal styles **  */
  * {
    scroll-behavior: smooth;
    box-sizing: border-box;
    @apply border-border outline-ring/50;
  }

  /* ** Body specific styles **  */
  body {
    @apply bg-background text-foreground;
  }

  /* ** Custom ** */
  .element-scrollable-hidden-scrollbar {
    overflow: auto; 
    &::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  
  input[type="number"] {
    -moz-appearance: textfield;
  }

  .custom-select-trigger {
    height: 3rem !important;
    min-height: 3rem !important;
  }

}
